@layer base {
  body {
    @apply bg-brand-white text-brand-gray800 antialiased;
  }

  h1 {
    @apply text-3xl font-bold text-brand-purple;
  }

  h2 {
    @apply text-2xl font-semibold text-brand-purple;
  }

  h3 {
    @apply text-xl font-semibold;
  }
}
